.container-response-cadastro {
    position: fixed;
    top: 0;
    z-index: 5;

    background-color: rgba(0, 0, 0, 0.253);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .container-info-response {
        background-color: #ffffff;

        width: 50%;
        height: 30%;

        border-radius: 15px;

        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .div-close-alert-response-cadastro {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .btn-close-alert-response-cadastro {
                background-color: transparent;

                border: none;

                width: 50px;
                height: 50px;
            }
        }

        .container-text-cadastro {
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            padding: 15px 0 15px 0;

            .response-text-cadastro {
                width: 60%;

                text-align: center;
            }

            .btn-response-cadastro {
                width: 100%;
                min-height: 45px;

                padding: 10px;

                background-color: #f3df2b;

                border: none;
                border-radius: 15px;

                transition: all 0.5s;

                &:hover {
                    background-color: #14181b;
                    color: #fff;
                }
            }
        }
    }
}

.container-response-cadastro-hidden {
    display: none;
}