.container-perfil {
    display: flex;
    flex-direction: column;

    .container-logo-title {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding-left: 10%;

        height: 50px;

        background-color: #fff100;

        position: relative;

        .container-logo {
            position: absolute;

            .logo-aeot-perfil {
                width: 150px;
            }
        }
    }

    .foto-user-datas {
        height: auto;

        display: flex;
        flex-direction: column;

        margin: 50px 0 20px;

        .foto-user-container {
            width: 100%;
            height: auto;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 25px;

            .foto-user {
                width: 150px;
                height: 150px;
                border-radius: 100px;
            }
        }

        .data-user-perfil {
            width: 100%;
            height: 20%;

            padding-left: 20px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .data-user {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 500;

                margin-bottom: 25px;

                .data-user-span {
                    font-weight: 300;
                }
            }
        }

        .container-btn-brinde {
            text-align: center;

            .btn-brinde {
                background-color: #fff100;

                border: none;
                border-radius: 15px;

                height: 45px;
                width: 150px;

                font-weight: 500;
                font-size: 14px;

                transition: all 0.2s linear;
                &:hover {
                    background-color: #fff756;
                }
            }
        }
    }
}