.container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-item .container-title-foto {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-item .container-title-foto .title-item {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}
.container-item .container-title-foto .foto-item {
  width: 250px;
  border-radius: 15px;
}
.container-item .container-sobre-item {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-item .container-sobre-item .container-formas-de-pagamento {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-item .container-sobre-item .container-formas-de-pagamento .title-formas-de-pagamento {
  font-size: 18px;
  font-weight: 500;
  color: #14181b;
  margin-bottom: 15px;
}
.container-item .container-sobre-item .container-formas-de-pagamento .formas-de-pagamento {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.container-item .container-sobre-item .container-formas-de-pagamento .formas-de-pagamento .text-forma-de-pagamento {
  margin-bottom: 10px;
  color: #666;
}
.container-item .container-sobre-item .container-info-item {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-item .container-sobre-item .container-info-item .info-item {
  margin-bottom: 15px;
  color: #666;
  text-align: center;
}
.container-item .container-sobre-item .container-edit-combustivel {
  width: 100%;
  margin-bottom: 25px;
  color: #333;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-item .container-km-time-btn {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-item .container-km-time-btn .container-km-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-item .container-km-time-btn .container-km-time .km-time {
  font-weight: bold;
  text-align: left;
  color: #333;
  margin: 15px;
}
.container-item .container-km-time-btn .container-km-time .km-time .icon-km,
.container-item .container-km-time-btn .container-km-time .km-time .icon-time {
  margin-right: 15px;
}
.container-item .container-km-time-btn .container-btn-abrir-maps {
  margin: 15px 0 30px 0;
}
.container-item .container-km-time-btn .container-btn-abrir-maps .btn-abrir-maps {
  background-color: #4CAF50;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  height: 50px;
  transition: 0.5s all;
}
.container-item .container-km-time-btn .container-btn-abrir-maps .btn-abrir-maps:hover {
  background-color: #45a049;
}
.container-item .container-km-time-btn .container-gas-pump-btn .gas-pump-btn {
  background-color: #fff100;
  font-size: 15px;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  height: 50px;
  transition: 0.5s all;
}
.container-item .container-km-time-btn .container-gas-pump-btn .gas-pump-btn:hover {
  background-color: #14181b;
  color: #fff;
}
.container-item .btn-edit-item {
  background-color: #4CAF50;
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 15px;
  width: 50px;
  cursor: pointer;
}
.container-item .btn-edit-item:hover {
  background-color: #45a049;
}/*# sourceMappingURL=detalhes.css.map */