.container-login {
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 15px 15px 15px;

    background-color: #fff;

    .form-login {
        min-height: 100vh;
        width: 510px;
        max-width: 510px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo-inputs {
            height: 60%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .logo-title {
                display: flex;
                flex-direction: column;
                align-items: center;

                .logo-aeot-login {
                    width: 220px;
                }

                .title-login {
                    margin: 15px 0 15px 0;
                }
            }

            .span-login {
                color: red;
            }

            .span-login-hidden {
                display: none;
            }

            .span-login-hidden-aprovado {
                display: none;
            }

            .inputs-btns {
                width: 100%;

                display: flex;
                flex-direction: column;

                .input-login {
                    height: 85px;

                    border: none;
                    border-bottom: 1px solid #e0e3e7;

                    margin-bottom: 15px;
                    padding-left: 15px;

                    font-size: 18px;

                    &:focus {
                        outline: none;

                        background-color: #fff;

                        border-bottom: 2px solid #4b39ef;
                    }

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }

                .btn-log {
                    min-height: 60px;
                    width: 100%;

                    margin-bottom: 15px;

                    border: none;
                    border-radius: 50px;

                    font-size: 18px;
                    font-weight: 700;

                    background-color: #ffffff;

                    transition: all 0.3s linear;

                    &:hover {
                        color: #14181b;

                        background-color: #f5f5f5;
                    }
                }
            }
        }

        .btn-login,
        .btn-pwa,
        .btn-instrucoes {
            min-height: 60px;
            width: 100%;

            margin-bottom: 15px;

            border: none;
            border-radius: 50px;

            font-size: 18px;
            font-weight: 700;

            background-color: #fff100;

            transition: all 0.3s linear;

            &:hover {
                color: #fff;

                background-color: #14181b;
            }
        }

        .link-whatsapp {
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-color: #fff;

            color: black;

            border-radius: 50px;

            transition: 0.5s all;

            &:hover {
                background-color: #e0e3e7;

                .logo-whatsapp {
                    transform: scale(0.80);
                }
            }

            .btn-whatsapp {
                background-color: transparent;

                border: none;

                margin-left: 20px;
                .logo-whatsapp {
                    transition: 0.5s all;

                    width: 60px;
                }
            }
        }

        .text-version {
            text-align: center;
            color: gray;
        }
    }
}