.editar-cadastro-container {
  background-color: rgba(0, 0, 0, 0.36);
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editar-cadastro-container .editar-cadastro {
  background-color: white;
  height: 90%;
  width: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.editar-cadastro-container .editar-cadastro .container-btn-close-cadastro {
  width: 100%;
  text-align: right;
  padding: 20px 20px 0;
}
.editar-cadastro-container .editar-cadastro .container-btn-close-cadastro .btn-close {
  background-color: transparent;
  border: none;
  font-size: 18px;
  transition: all 0.3s ease;
}
.editar-cadastro-container .editar-cadastro .container-btn-close-cadastro .btn-close:hover {
  transform: scale(0.8);
}
.editar-cadastro-container .editar-cadastro .container-verificado {
  margin-bottom: 50px;
  height: auto;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}
.editar-cadastro-container .editar-cadastro .container-verificado span {
  padding: 15px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
.editar-cadastro-container .editar-cadastro .container-verificado .text-verificado {
  background-color: rgb(4, 155, 4);
}
.editar-cadastro-container .editar-cadastro .container-verificado .text-pendente {
  background-color: rgb(255, 0, 0);
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .foto-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .foto-cadastro img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .foto-cadastro .container-btn-edit {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .foto-cadastro .container-btn-edit .btn-edit {
  background-color: #E6C200;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 100%;
  color: white;
  transform: translate(400%, 440%);
  transition: background 0.5s ease-in-out;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .foto-cadastro .container-btn-edit .btn-edit:hover {
  background-color: #b39700;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .foto-cadastro button {
  z-index: 2;
  background-color: transparent;
  border: none;
  margin-top: 15px;
  text-decoration: underline;
  color: #007bff;
  transition: transform 0.3s ease-in-out;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .foto-cadastro button:hover {
  transform: scale(1.05);
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .datas-cadastro {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .datas-cadastro .container-input {
  display: flex;
  flex-direction: column;
  margin: 5px 20px 0;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .datas-cadastro .container-input label {
  padding-left: 15px;
  margin: 15px 0 5px 0;
  font-weight: 450;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .datas-cadastro .container-input input {
  margin-bottom: 5px;
  width: 250px;
  height: 40px;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid #E6C200;
  font-size: 14px;
  font-weight: 450;
  transition: all 0.2s linear;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .datas-cadastro .container-input input:hover {
  background-color: #fafafa;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .datas-cadastro .container-input input:focus {
  border: none;
  outline: 1px solid #4b39ef;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .datas-cadastro .container-input .alert {
  padding-left: 15px;
  width: 250px;
  height: auto;
  overflow-y: hidden;
  color: rgb(231, 84, 84);
  font-size: 12px;
}
@media (max-width: 710px) {
  .editar-cadastro-container .editar-cadastro .container-datas-cadastro .datas-cadastro {
    justify-content: center;
  }
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns .btn {
  margin-bottom: 15px;
  padding: 15px;
  width: 130px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  border: none;
  transition: background 0.5s ease-in-out;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns #btn-salvar {
  background-color: rgb(4, 155, 4);
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns #btn-salvar:hover {
  background-color: #038203;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns #btn-salvar:disabled {
  background-color: #e8e8e8;
  color: #1a1a1a;
  cursor: not-allowed;
  transform: none;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns #btn-desativar {
  background-color: rgb(255, 0, 0);
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns #btn-desativar:hover {
  background-color: #cc0000;
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns #btn-ativar {
  background-color: rgb(4, 155, 4);
}
.editar-cadastro-container .editar-cadastro .container-datas-cadastro .container-btns #btn-ativar:hover {
  background-color: #036903;
}

.image-modal {
  background-color: rgba(0, 0, 0, 0.36);
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-modal .image-modal-container {
  background-color: white;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.image-modal .image-modal-container .container-close-image-modal {
  width: 100%;
  text-align: right;
}
.image-modal .image-modal-container .container-close-image-modal .btn-close-image-modal {
  background-color: transparent;
  border: none;
  padding: 0 20px 0 0;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}
.image-modal .image-modal-container .container-close-image-modal .btn-close-image-modal:hover {
  transform: scale(0.8);
}
.image-modal .image-modal-container .image-cadastro {
  max-width: 100%;
  max-height: 100%;
}

.container-modal-alert {
  position: fixed;
  z-index: 1;
}/*# sourceMappingURL=editarCadastro.css.map */