$primary-color: #E6C200;
$color-borde-focus: #4b39ef;
$background-white: white;
$background-light: #f5f5f5;
$background-shadow: rgba(0, 0, 0, 0.36);
$background-green: rgb(4, 155, 4);
$background-red: rgb(255, 0, 0);
$text-dark: #333;
$text-gray: gray;
$text-blue: #007bff;


.editar-cadastro-container {
    background-color: $background-shadow;
    position: fixed;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .editar-cadastro {
        background-color: $background-white;

        height: 90%;
        width: 90%;

        border-radius: 15px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .container-btn-close-cadastro {
            width: 100%;

            text-align: right;

            padding: 20px 20px 0;

            .btn-close {
                background-color: transparent;

                border: none;

                font-size: 18px;

                transition: all 0.3s ease;

                &:hover {
                    transform: scale(0.80);
                }
            }
        }

        .container-datas-cadastro {
            height: 100%;
            width: 100%;

            overflow-y: scroll;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            padding-bottom: 20px;

            .foto-cadastro {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                margin-bottom: 20px;

                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;

                    border-radius: 100%;
                }

                button {
                    background-color: transparent;

                    border: none;

                    margin-top: 15px;

                    text-decoration: underline;
                    color: $text-blue;

                    transition: transform 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .datas-cadastro {
                width: 100%;

                padding: 15px;

                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;

                .container-input {
                    display: flex;
                    flex-direction: column;

                    margin: 5px 20px 0;
                    
                    label {
                        padding-left: 15px;
                        margin-bottom: 5px;

                        font-weight: 450;
                    }

                    input {
                        margin-bottom: 15px;

                        width: 250px;
                        height: 40px;

                        padding-left: 15px;

                        border-radius: 15px;
                        border: 1px solid $primary-color;

                        font-size: 14px;
                        font-weight: 450;

                        transition: all 0.2s linear;

                        &:hover {
                            background-color: darken($background-white, 2%);
                        }

                        &:focus {
                            border: none;
                            outline: 1px solid $color-borde-focus;
                        }
                    }
                }
            }

            @media (max-width: 710px) {
                .datas-cadastro {
                    justify-content: center;
                }
            }

            .container-btns {
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .btn {
                    margin-bottom: 15px;
                    padding: 15px;

                    width: 130px;
                    font-weight: bold;
                    color: white;

                    border-radius: 15px;
                    border: none;

                    transition: background 0.5s ease-in-out;
                }

                .btn-salvar {
                    background-color: $background-green;

                    &:hover {
                        background-color: darken($background-green, 5%);
                    }
                }

                .btn-desativar {
                    background-color: $background-red;

                    &:hover {
                        background-color: darken($background-red, 10%);
                    }
                }
            }
        }
    }

}

.image-modal {
    background-color: $background-shadow;

    position: fixed;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-modal-container {
        background-color: $background-white;

        width: 90%;
        height: 90%;

        border-radius: 15px;

        overflow-y: scroll;

        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .container-close-image-modal {
            width: 100%;
            text-align: right;

            .btn-close-image-modal {
                background-color: transparent;

                border: none;

                padding: 0 20px 0 0;

                font-size: 18px;

                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(0.80);
                }
            }
        }

        .image-cadastro {
            max-width: 100%;
            max-height: 100%;
        }
    }
}