.container-datas {
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-datas .container-btn-voltar {
  padding: 15px 0 0 15px;
}
.container-datas .container-btn-voltar .arrow-icon {
  font-size: 24px;
  color: gray;
  transition: all 0.3s linear;
}
.container-datas .container-btn-voltar .arrow-icon:hover {
  transform: scale(0.8);
}
.container-datas .container-datas-user {
  height: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container-datas .container-datas-user .container-foto-user {
  position: relative;
  margin: 15px 15px;
}
.container-datas .container-datas-user .container-foto-user .foto-user {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.container-datas .container-datas-user .container-foto-user .container-btn-edit {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.container-datas .container-datas-user .container-foto-user .container-btn-edit .btn-edit {
  background-color: #E6C200;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 100%;
  color: white;
  transform: translate(400%, 470%);
  transition: background 0.5s ease-in-out;
}
.container-datas .container-datas-user .container-foto-user .container-btn-edit .btn-edit:hover {
  background-color: #b39700;
}

.container-modal-alert[hidden] {
  display: none !important;
}

.container-modal-alert {
  background-color: rgba(0, 0, 0, 0.164);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-modal-alert .container-img-btns-text {
  background-color: white;
  width: 90%;
  height: 90%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}
.container-modal-alert .container-img-btns-text .container-alert-text {
  font-size: 20px;
  text-align: center;
  color: #333;
  font-weight: bold;
}
.container-modal-alert .container-img-btns-text .foto-user {
  width: auto;
  height: 50%;
}
.container-modal-alert .container-img-btns-text .container-btns-enviar-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-modal-alert .container-img-btns-text .container-btns-enviar-img .btn-enviar-img {
  padding: 15px;
  width: 150px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  transition: background 0.5s ease-in-out;
}
.container-modal-alert .container-img-btns-text .container-btns-enviar-img .btn-sim {
  background-color: rgb(4, 155, 4);
}
.container-modal-alert .container-img-btns-text .container-btns-enviar-img .btn-sim:hover {
  background-color: #036903;
}
.container-modal-alert .container-img-btns-text .container-btns-enviar-img .btn-nao {
  background-color: rgb(255, 0, 0);
}
.container-modal-alert .container-img-btns-text .container-btns-enviar-img .btn-nao:hover {
  background-color: #cc0000;
}/*# sourceMappingURL=edit_perfil.css.map */