.container-datas {
    height: auto;

    display: flex;
    flex-direction: column;

    .container-btn-voltar {
        padding: 15px 0 0 15px;

        .arrow-icon {
            font-size: 24px;
            color: gray;

            transition: all 0.3s linear;

            &:hover {
                transform: scale(0.80);
            }
        }
    }

    .container-datas-user {
        height: 100%;

        margin-top: 15px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .container-foto-user {
            margin: 15px 15px;

            .foto-user {
                width: 200px;
                height: 200px;

                border-radius: 50%;
            }
        }
    }
}