.header-home {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 50px;

    .header-btn-hidden {
        display: none;
    }

    .header-btn {
        background-color: transparent;
        width: 50px;
        height: 50px;

        border: none;
        &:hover {
            .icon-header-btn{
                transform: scale(0.80);
            }
        }
        
        .icon-header-btn {
            transition: all 0.5s;

            height: 35px;

            color: gray;
        }
    }

    .header-btn-perfil {
        width: auto;

        display: flex;
        flex-flow: column;
        align-items: center;

        padding: 5px 0 5px 0;

        font-size: 18px;
        color: gray;
    }
}