.container-form-arrow {
    background-color: #fff100;

    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .container-arrow-icon {
        width: 100%;

        padding: 15px;

        font-size: 24px;

        .arrow-icon {
            color: black;
            transition: 0.3s linear;

            &:hover {
                transform: scale(0.8);
            }
        }
    }

    .container-btns {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .tipo-cadastro {
            height: 40px;
            width: 50%;

            background-color: #fff;

            border: none;
            transition: 0.3s all;

            &:hover {
                border-bottom: 5px solid #fff100;
            }
        }

        .checked {
            border-bottom: 5px solid #d3ca26;
        }
    }

    .container-forms {
        background-color: #fff;

        margin: 20px;

        height: 100%;
        max-width: 435px;

        border-radius: 15px;

        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);

        padding: 20px;

        .form-cadastrar-posto-anuncio {
            height: 100%;

            .cadastrar-posto,
            .cadastrar-anuncio {
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .input-info,
                .text-area-descricao {
                    background-color: #f5f5f5;

                    height: 40px;
                    width: 100%;

                    padding-left: 15px;

                    margin-bottom: 15px;

                    border: none;
                    border-radius: 15px;

                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                    font-size: 15px;

                    &:focus {
                        outline: none;

                        border: 2px solid #4b39ef;
                    }
                }

                .container-pass {
                    display: flex;
                    flex-flow: row;
                    position: relative;

                    .input-info-pass {
                        width: 100%;

                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .pass-reveal {
                        width: 55px;
                        height: 40px;

                        background-color: #f5f5f5;

                        border: none;
                        border-radius: 15px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                        font-size: 18px;

                        .eye-icon {
                            color: #acaaaa;
                        }

                        .hidden {
                            display: none;
                        }
                    }

                    .alert-pass {
                        border: 1px solid red;
                    }
                }

                .text-area-descricao {
                    padding: 15px;

                    height: 100px;

                    font-size: 16px;

                    resize: none;
                }

                .text-info {
                    margin-bottom: 15px;

                    text-align: center;
                }

                .container-forma-de-pagamento {
                    height: auto;
                    width: 100%;

                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    gap: 15px;

                    margin-bottom: 25px;

                    .forma-de-pagamento {
                        display: flex;
                        flex-direction: row wrap;
                        align-items: center;

                        .input-checkbox {
                            width: 20px;
                            height: 20px;

                            margin-right: 10px;
                        }

                        .text-checkbox {
                            font-size: 18px;
                        }
                    }
                }

                .container-inputs-combutiveis {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .combustivel-container {
                        .metodo-container {
                            margin-bottom: 15px;
                            .text-checkbox {
                                margin: 0 15px 0 5px;
                            }
                        }
                    }
                }

                .span-alert {
                    font-size: 10px;
                    color: rgb(231, 84, 84);

                    width: 250px;

                    margin-bottom: 5px;

                    padding-left: 15px;
                }

                .hidden-span-alert {
                    display: none;
                }

                .input-add-foto {
                    display: none;
                }

                .btn-foto,
                .btn-criar {
                    height: 35px;

                    margin-bottom: 15px;

                    border: none;
                    border-radius: 10px;

                    background-color: #fff100;

                    font-size: 16px;

                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                    transition: 0.5s linear;

                    &:hover {
                        color: #fff;

                        background-color: #14181b;
                    }
                }

                .btn-foto {
                    margin-top: 15px;

                    background-color: #fff1a1;
                }

                .checked-foto {
                    background-color: #00ff73;
                }
            }
        }
    }
}