.container-form-arrow {
    background-color: #fff100;

    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .container-response-cadastro {
        position: absolute;
        z-index: 1;

        background-color: rgba(0, 0, 0, 0.253);

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .container-info-response {
            background-color: #ffffff;

            width: 50%;
            height: 30%;

            border-radius: 15px;

            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .div-close-alert-response-cadastro {
                width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .btn-close-alert-response-cadastro {
                    background-color: transparent;

                    border: none;

                    width: 50px;
                    height: 50px;
                }
            }

            .container-text-cadastro {
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .response-text-cadastro {
                    width: 60%;

                    text-align: center;
                }

                .btn-response-cadastro {
                    width: 100%;
                    min-height: 45px;

                    padding: 10px;

                    background-color: #f3df2b;

                    border: none;
                    border-radius: 15px;

                    transition: all 0.5s;

                    &:hover {
                        background-color: #14181b;
                        color: #fff;
                    }
                }
            }
        }
    }

    .container-response-cadastro-hidden {
        display: none;
    }

    .container-arrow-icon {
        width: 100%;

        padding: 15px;

        font-size: 24px;

        .arrow-icon {
            color: black;
            transition: 0.3s linear;

            &:hover {
                transform: scale(0.8);
            }
        }
    }

    .container-btns {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .tipo-cadastro {
            height: 40px;
            width: 50%;

            background-color: #fff;

            border: none;
            transition: 0.3s all;

            &:hover {
                border-bottom: 5px solid #fff100;
            }
        }

        .checked {
            border-bottom: 5px solid #d3ca26;
        }
    }

    .container-forms {
        background-color: #fff;

        margin: 20px;

        height: 100%;

        border-radius: 15px;

        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);

        padding: 20px;

        .form-cadastrar-posto-anuncio {
            height: 100%;

            .cadastrar-posto,
            .cadastrar-anuncio {
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .input-info,
                .text-area-descricao {
                    background-color: #f5f5f5;

                    height: 40px;
                    width: 100%;

                    padding-left: 15px;

                    margin-bottom: 15px;

                    border: none;
                    border-radius: 15px;

                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                    font-size: 15px;

                    &:focus {
                        outline: none;

                        border: 2px solid #4b39ef;
                    }
                }

                .text-area-descricao {
                    padding: 15px;

                    height: 100px;

                    font-size: 16px;

                    resize: none;
                }

                .text-info {
                    margin-bottom: 15px;
                }

                .container-inputs-combutiveis {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .span-alert {
                    font-size: 10px;
                    color: rgb(231, 84, 84);

                    width: 250px;

                    margin-bottom: 5px;

                    padding-left: 15px;
                }

                .hidden-span-alert {
                    display: none;
                }

                .input-add-foto {
                    display: none;
                }

                .btn-foto,
                .btn-criar {
                    height: 35px;

                    margin-bottom: 15px;

                    border: none;
                    border-radius: 10px;

                    background-color: #fff100;

                    font-size: 16px;

                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                    transition: 0.5s linear;

                    &:hover {
                        color: #fff;

                        background-color: #14181b;
                    }
                }

                .btn-foto {
                    background-color: #fff1a1;
                }

                .checked-foto {
                    background-color: #00ff73;
                }
            }
        }
    }
}