.container-form-arrow {
    background-color: #fff100;

    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .container-arrow-icon {
        width: 100%;

        padding: 15px;

        font-size: 24px;

        .arrow-icon {
            color: black;
            transition: 0.3s linear;

            &:hover {
                transform: scale(0.8);
            }
        }
    }

    .container-btns {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .tipo-cadastro {
            height: 40px;
            width: 50%;

            background-color: #fff;

            border: none;
            transition: 0.3s all;

            &:hover {
                border-bottom: 5px solid #fff100;
            }
        }

        .checked {
            border-bottom: 5px solid #d3ca26;
        }
    }

    .container-forms {
        background-color: #fff;

        margin: 20px;

        height: 100%;
        max-width: 435px;

        border-radius: 15px;

        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);

        padding: 20px;

        .form-cadastrar-posto-anuncio {
            height: 100%;

            .cadastrar-posto,
            .cadastrar-anuncio {
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .input-info,
                .text-area-descricao {
                    background-color: #f5f5f5;

                    height: 40px;
                    width: 100%;

                    padding-left: 15px;

                    margin-bottom: 15px;

                    border: none;
                    border-radius: 15px;

                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                    font-size: 15px;

                    &:focus {
                        outline: none;

                        border: 2px solid #4b39ef;
                    }
                }

                .container-pass {
                    display: flex;
                    flex-flow: row;
                    position: relative;

                    .input-info-pass {
                        width: 100%;

                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .pass-reveal {
                        width: 55px;
                        height: 40px;

                        background-color: #f5f5f5;

                        border: none;
                        border-radius: 15px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                        font-size: 18px;

                        .eye-icon {
                            color: #acaaaa;
                        }

                        .hidden {
                            display: none;
                        }
                    }

                    .alert-pass {
                        border: 1px solid red;
                    }
                }

                .text-area-descricao {
                    padding: 15px;

                    height: 100px;

                    font-size: 16px;

                    resize: none;
                }

                .span-alert {
                    font-size: 10px;
                    color: rgb(231, 84, 84);

                    width: 250px;

                    margin-bottom: 5px;

                    padding-left: 15px;
                }

                .hidden-span-alert {
                    display: none;
                }

                .input-add-foto {
                    display: none;
                }

                .btn-foto,
                .btn-criar {
                    height: 35px;

                    margin-bottom: 15px;

                    border: none;
                    border-radius: 10px;

                    background-color: #fff100;

                    font-size: 16px;

                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                    transition: 0.5s linear;

                    &:hover {
                        color: #fff;

                        background-color: #14181b;
                    }
                }

                .btn-foto {
                    margin-top: 15px;

                    background-color: #fff1a1;
                }

                .checked-foto {
                    background-color: #00ff73;
                }
            }
        }
    }

    .container-forms,
    .container-form-combustivel {
        .text-info {
            margin-bottom: 15px;

            text-align: center;
        }
    }

    .container-form-combustivel {
        background-color: rgba(0, 0, 0, 0.253);

        position: fixed;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        #form-combustivel {
            background-color: #fff;

            padding: 25px;

            height: 90%;

            border-radius: 15px;

            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);

            display: flex;
            flex-direction: column;
            align-items: center;

            .container-close-btn {
                width: 100%;

                padding: 5px;

                text-align: right;

                .close-btn {
                    background-color: transparent;

                    border: none;

                    &:hover {
                        .x-icon {
                            transform: scale(0.80);
                        }
                    }

                    .x-icon {
                        transition: all 0.5s ease;

                        font-size: 18px;
                    }
                }
            }

            .cadastrar-combustivel {
                height: 100%;

                padding: 5px;

                display: flex;
                flex-direction: column;
                align-items: center;

                overflow-y: scroll;

                .container-combustivel {

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .container-checkbox-combustivel {
                        margin-bottom: 15px;
                    }

                    .checkbox-combustivel {
                        margin-right: 5px;

                        width: 15px;
                        height: 15px;
                    }

                    .container-valor-formas {
                        margin-bottom: 15px;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .grupo-config {
                            margin-bottom: 10px;

                            .select-forma-pagamento,
                            .select-forma-abastecimento {
                                background-color: #f5f5f5;

                                width: 100px;
                                height: 40px;

                                margin-right: 5px;
                                padding-left: 5px;

                                border-radius: 15px;
                                border: none;
                                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
                            }

                            .combustivel-valor {
                                background-color: #f5f5f5;

                                height: 40px;
                                width: 100px;

                                padding-left: 15px;

                                margin: 0 15px 15px 0;

                                border: none;
                                border-radius: 15px;

                                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                                font-size: 15px;

                                &:focus {
                                    outline: none;

                                    border: 2px solid #4b39ef;
                                }
                            }

                            .btn-remover-config {
                                background-color: rgb(231, 84, 84);

                                color: white;
                                font-weight: bold;

                                height: 30px;
                                width: 30px;

                                border-radius: 100%;
                                border: none;
                            }
                        }

                        .btn-add-config {
                            background-color: #1aac5b;

                            color: white;
                            font-weight: bold;

                            height: 30px;
                            width: 30px;

                            border-radius: 100%;
                            border: none;
                        }

                    }

                }
            }

            .btn-criar {
                height: 45px;
                width: 95px;

                margin-bottom: 15px;

                border: none;
                border-radius: 10px;

                background-color: #fff100;

                font-size: 16px;

                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);

                transition: 0.5s linear;

                &:hover {
                    color: #fff;

                    background-color: #14181b;
                }
            }
        }
    }
}