.container-form-arrow {
  background-color: #fff100;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container-form-arrow .container-arrow-icon {
  width: 100%;
  padding: 15px;
  font-size: 24px;
}
.container-form-arrow .container-arrow-icon .arrow-icon {
  color: black;
  transition: 0.3s linear;
}
.container-form-arrow .container-arrow-icon .arrow-icon:hover {
  transform: scale(0.8);
}
.container-form-arrow .container-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form-arrow .container-btns .tipo-cadastro {
  height: 40px;
  width: 50%;
  background-color: #fff;
  border: none;
  transition: 0.3s all;
}
.container-form-arrow .container-btns .tipo-cadastro:hover {
  border-bottom: 5px solid #fff100;
}
.container-form-arrow .container-btns .checked {
  border-bottom: 5px solid #d3ca26;
}
.container-form-arrow .container-forms {
  background-color: #fff;
  margin: 20px;
  height: 100%;
  max-width: 435px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
  padding: 20px;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio {
  height: 100%;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .input-info,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .text-area-descricao,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .input-info,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .text-area-descricao {
  background-color: #f5f5f5;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  font-size: 15px;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .input-info:focus,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .text-area-descricao:focus,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .input-info:focus,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .text-area-descricao:focus {
  outline: none;
  border: 2px solid #4b39ef;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .container-pass,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .container-pass {
  display: flex;
  flex-flow: row;
  position: relative;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .container-pass .input-info-pass,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .container-pass .input-info-pass {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .container-pass .pass-reveal,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .container-pass .pass-reveal {
  width: 55px;
  height: 40px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  font-size: 18px;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .container-pass .pass-reveal .eye-icon,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .container-pass .pass-reveal .eye-icon {
  color: #acaaaa;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .container-pass .pass-reveal .hidden,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .container-pass .pass-reveal .hidden {
  display: none;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .container-pass .alert-pass,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .container-pass .alert-pass {
  border: 1px solid red;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .text-area-descricao,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .text-area-descricao {
  padding: 15px;
  height: 100px;
  font-size: 16px;
  resize: none;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .span-alert,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .span-alert {
  font-size: 10px;
  color: rgb(231, 84, 84);
  width: 250px;
  margin-bottom: 5px;
  padding-left: 15px;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .hidden-span-alert,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .hidden-span-alert {
  display: none;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .input-add-foto,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .input-add-foto {
  display: none;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .btn-foto,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .btn-criar,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .btn-foto,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .btn-criar {
  height: 35px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: #fff100;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  transition: 0.5s linear;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .btn-foto:hover,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .btn-criar:hover,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .btn-foto:hover,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .btn-criar:hover {
  color: #fff;
  background-color: #14181b;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .btn-foto,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .btn-foto {
  margin-top: 15px;
  background-color: #fff1a1;
}
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-posto .checked-foto,
.container-form-arrow .container-forms .form-cadastrar-posto-anuncio .cadastrar-anuncio .checked-foto {
  background-color: #00ff73;
}
.container-form-arrow .container-forms .text-info,
.container-form-arrow .container-form-combustivel .text-info {
  margin-bottom: 15px;
  text-align: center;
}
.container-form-arrow .container-form-combustivel {
  background-color: rgba(0, 0, 0, 0.253);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container-form-arrow .container-form-combustivel #form-combustivel {
  background-color: #fff;
  padding: 25px;
  height: 90%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-form-arrow .container-form-combustivel #form-combustivel .container-close-btn {
  width: 100%;
  padding: 5px;
  text-align: right;
}
.container-form-arrow .container-form-combustivel #form-combustivel .container-close-btn .close-btn {
  background-color: transparent;
  border: none;
}
.container-form-arrow .container-form-combustivel #form-combustivel .container-close-btn .close-btn:hover .x-icon {
  transform: scale(0.8);
}
.container-form-arrow .container-form-combustivel #form-combustivel .container-close-btn .close-btn .x-icon {
  transition: all 0.5s ease;
  font-size: 18px;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel {
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel .container-combustivel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel .container-combustivel .conatiner-checkbox-combustivel {
  margin-bottom: 15px;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel .container-combustivel .checkbox-combustivel {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel .container-combustivel .container-valor-formas {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel .container-combustivel .container-valor-formas .combustivel-valor {
  background-color: #f5f5f5;
  height: 40px;
  width: 150px;
  padding-left: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  font-size: 15px;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel .container-combustivel .container-valor-formas .combustivel-valor:focus {
  outline: none;
  border: 2px solid #4b39ef;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel .container-combustivel .container-valor-formas .container-forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-form-arrow .container-form-combustivel #form-combustivel .cadastrar-combustivel .container-combustivel .container-valor-formas .container-forma #forma_abastecimento {
  margin-top: 5px;
  margin-bottom: 15px;
}
.container-form-arrow .container-form-combustivel #form-combustivel .btn-criar {
  height: 45px;
  width: 95px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: #fff100;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  transition: 0.5s linear;
}
.container-form-arrow .container-form-combustivel #form-combustivel .btn-criar:hover {
  color: #fff;
  background-color: #14181b;
}/*# sourceMappingURL=new_services.css.map */